* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

header {
	padding: 0px;
	text-align: center;
}

main {
	text-align: center;
	padding-top: 65px;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 30px;
	border-top: 1px solid #E4E4E4;
	background-color: #F2F2F2;
	color: #5F6368;
}

.display-none {
	display: none;
}

.align-left { float: left; }
.align-right { float: right; }

.horizontal-ul {
	list-style-type: none;
	margin: 0;
}
.horizontal-ul li {
	display: inline-block;
	padding-right: 10px;
}

.horizontal-ul li:last-child {
	padding-right: 0px;
}

.button {
	display: inline-block;
	padding: 12px;
	text-decoration: none;
}

.col1 { background-color: #8DC44F; color: #000; }
.col2 { background-color: #1CA45C; color: #000; }
.col3 { background-color: #FFC718; color: #000; }
.col4 { background-color: #FF9E0F; color: #000; }
.col5 { background-color: #DA483B; color: #000; }
.col6 { background-color: #4486F4; color: #000; }

.grey { background: linear-gradient(to bottom, #f4f4f4, #f1f1f1 60%); color: #444; }

h5 {
	margin: 0;
}
